

.contact {
	position: relative;
	min-height: 100vh;
	padding: 5% 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*background: linear-gradient(rgba(48, 148, 153, 0.2), rgba(245, 218, 232, 0.2));*/
/*	background-image: url(img/martini-glasses-circle.jpg);
	background-size: cover;*/
}

/*inside .contact*/
.content {
	max-width: 60%;
	text-align: center;
}

/*KEEP OWN STYLING FOR TOP "CONTACT US" heading*/
/*Change h2 to h3 likely*/
/*.content h2{
	font-size: 1.4rem;
	font-weight: 500;

}*/

.container-contact {
	width: 100%;
	display: flex; 
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

.contact-info {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact-info .box {
	position: relative;
	padding: 5% 0;
	display: flex;
}

.box .icon {
	min-width: 3rem;
	height: 3rem;
	background: rgba(48, 148, 153, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 1.3rem;
	/*margin-right: 1%;*/
}

.box .text {
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	font-weight: 300;
}

.text h3 {
	font-weight: 500;
	color: rgb(48, 148, 153);
}

.contact-form {
	width: 40%;
	padding: 5%;
	/*removed white bg as it was casuing a problem with the email sign up button*/
	/*background: white;*/
}

.contact-form h3 {
	color: #333;
	font-size: 1.4rem;
	font-weight: 500;
}

.input-box-contact {
	position: relative; 
	width: 100%;
	margin-top: 2%;
}
.input-box-contact input.contact-input{
	width: 100%;
	padding: 4% 4%;
	/*margin: 3% 4%;*/
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
}

.input-box-contact textarea {
	width: 100%;
	padding: 4% 0;
	margin: 3% 0;
	/*margin-top: 4%;*/
	font-size: 1rem;
	border: none;
	/*border-left: 0.25px solid rgb(235, 235, 235);*/
	background-color: rgb(252, 252, 252);
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.input-box-contact span {
	/*position: absolute;*/
	/*position: relative;*/
	left: 0;
	font-size: 1rem;
	padding: 4% 0;
	padding-bottom: 10%;
	margin: 3% 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.input-box-contact input.contact-input:focus ~ span,
.input-box-contact input.contact-input:valid ~ span,
.input-box-contact textarea:focus ~ span,
.input-box-contact textarea:valid ~ span {
	color: rgb(48, 148, 153);
	font-size: 0.8rem;
	transform: translateY(-1.5rem);
}

.input-box-contact input.contact-input[type="submit"] {
	font-size: 1.2rem;
	font-weight: 500;
	width: 100%;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 5%;
	background-color: rgb(48, 148, 153);;
}













