/* --- BROAD OVERALL CSS STYLING ---*/
* {
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family:'Montserrat', 'Helvetica', 'Verdana', sans-serif;
	scroll-behavior: smooth;
}

body {
	font-family:'Montserrat', 'Helvetica', 'Verdana', sans-serif;
}

p {
	/*color: #3F3F3F;*/
	color: #666666;
	font-size: 1.2em;
}
p.about-information {
	padding-top: 2%;
	padding-left: 15%;
	max-width: 80%;
}

/*h3 {
	font-weight: 500;
	text-align: center;
	font-size: 1.4rem;
	color: #333333;
}*/
h3#mission-statement {
	/*text-align: center;*/
	font-weight: 600;
	color: #8C8C8C;
	margin-left: 15%;
	margin-right: 15%;
}

h4.about {
	text-align: center;
	margin-top: 5%;
	font-size: 1.25rem;
	color: #4D4D4D;
}

.special-character {
	/*Find a font with nice spacial characters for commas, question marks, etc. as Monteserrat doesn't look good*/
	font-family: 'Helvetica';
}


/* --- STYLING MAIN NAVIGATION BAR ---*/
nav.main-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 5rem;
	/*z-index: 1;*/
}
/* - LOGO -*/
.barcandy-logo {
	flex: 1;
	order: 1;
	padding-left: 3%;
}
.barcandy-logo img {
	max-width: 45%;
	padding-top: 5%;
	/*padding-left: 10%;*/
}
/* - NAVIGATION MENU - */
.nav-links{
	display: flex;
	flex-wrap: wrap;
	flex: 2.7;
	order: 2;
	font-size: 1.2rem;
	padding-top: 2%;
	padding-left: 0.5%;
	padding-bottom: 0.5%;
	background-color: white;
	text-decoration: none;
}
.nav-links:last-child {
	padding-right: 0.5%;
}
/*styling main nav anchor links*/
.nav-links li {
	list-style-type: none;
	background-color: white;
}
.nav-links a {
	padding: 10% 15% 4%; /*add spacing to make link easier to click*/
	text-decoration: none;
	color: #309499;
	letter-spacing: 0.02rem;
	font-weight: 400;
	transition: 0.05s;
}
.nav-links a:hover, .nav-links a:focus {
	border-bottom: 2px solid #309499;
	border-radius: 2%;
}
.menu-container {
	display: none;
	flex-wrap: wrap;
	order: 3;
	padding-right: 5%;
	/*cursor: pointer;*/
}

.border-header {
	margin-right: 0.5%;
	margin-left: 0.5%;
	margin-top: 0.5%;
}
.grid-main-nav {
	padding-top: 2%;
	margin-bottom: 2%;
	margin-top: 1%;
	flex-basis: 100%;
	text-align: center;
	/*background-color: red;*/
	/*background-color: white;*/
}
/*Styling menu icon for mobile*/
.menu-btn {
	cursor: pointer;
	padding: 0.35em 1.2em;
	border: 0.1em solid #309499;
	border-radius: 1em;
	box-sizing: border-box;
	text-decoration: none;
	background-color: white;
	color: #309499;
	text-align: center;
	transition: all 0.5s;
}
.menu-btn:hover, .menu-btn:focus {
	background-color: #309499;
	border: 0.1em solid #309499;
	border-radius: 1em;
	color: white;
}
/*__________________________________*/


/*Container holds main content in page*/
.container {
	/*max-width: 90%;*/
	margin: auto;
/*	padding-left: 8%;
	padding-right: 8%;*/
	padding: 1% 8%;
}

/* - STYLING HOME SCREEN - */
.row {
	display: flex;
	/*align-items: top;*/
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5%;
}
/* - BASIC CONTENT FOR 2 COLUMN STRUCTURE -*/
.col-1-of-2 {
	flex-basis: 50%;
	min-width: 15%;
}
.col-1-of-2 img{
	max-width: 70%;
	/*min-width: 80%;*/
	/*min-width: 50%;*/
	/*padding: 6rem 0;*/
}
/*Add space around elements*/
.home-content {
	padding: 3%;
}
/* Message on home screen */
#home-subtitle {
	max-width: 25em;
	font-size: 1.5rem;
}


.col-1-of-4 {
	flex-basis: 25%;
	display: flex;
	flex-wrap: wrap;
/*	padding: 0.8rem;
	padding-bottom: 5%;
	margin-bottom: 3rem;*/
	/*transition: 0.3s;*/
}
.col-1-of-4 img {
	width: 100%;
}
/* Title for individual products (inside .col-1-of-4)*/
.product-name h3 {
	/*display: block;*/
	padding-top: 1rem;
	color: #404040;
	font-weight: 400;
	font-size: 1.3rem;
	text-align: left;
	/*position: absolute;*/
	text-transform: capitalize;
}

h1{
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.5rem;
	max-width: 10em;
	color: #333333;
	padding-top: 20%;
}
/*Styling for copyright symbol*/
span.copyright {
	font-size: 0.5em;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
span.bold {
	font-weight: 600;
	text-transform: lowercase;
}

/*Button Styling*/
.btn {
	display: inline-block;
	/*background-color: #f7a5a7;*/
	background-color: #ff9497;
	color: white;
	padding: 0.5rem 2.2rem;
	margin: 2rem 0;
	border: 1px solid #ff9497;
	border-radius: 1.5rem;
	text-decoration: none;
	transition: background-color 0.5s;
	font-weight: bold;
}
.btn:hover, .btn:focus{
	/*background-color: #FF6F94;*/
	background-color: white;
	color: #ff9497;
	border: 1px solid #ff9497;
	font-weight: bold;
}
/*Contains home page main screen*/
.header {
	/*background-color: #FFFAFA;*/
}
.header .row {
	margin-top: 3rem;
}

/*Styling featured categories*/
.categories {
	margin: 5rem 0;
}
.col-1-of-3 {
	flex-basis: 30%;
	/*min-width: 250px;*/
	margin-bottom: 2rem;
}
.col-1-of-3 img {
	max-width: 100%;
}


footer {
	margin: 0;
	padding: 0;
	background-color: #2a2b2f;
	/*height: 1000px;*/
}
.footer-container {
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 5%;
}
.footer-col-1-of-4 {
	flex-basis: 25%;
	padding: 3%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.footer-col-1-of-4 img {
	max-width: 80%;
}
.footer-title {
	/*lighter turquoise*/
	color: #3adfe8;
	font-size: 1.1rem;
	font-weight: 500;
	display: block;
}
/*<p>*/
.footer-content {
	color: #E6E6E6;
	font-size: 1rem;
	font-weight: 400;
}
.footer-content-container .link, .footer-content-container p {
	padding-top: 3%;
}
/*<a>*/
.footer-link {
	/*display: block;*/
	color: #E6E6E6;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	align-content: stretch;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}
.footer-link:hover, .footer-link:focus {
	text-decoration: underline;
}
/*styleguide located in footer:*/
#styleguide {
/*	padding-top: 10rem;
	padding-left: 5rem;
	padding-right:5rem;*/
	padding-top: 2rem;
	color: #A7DFE6;
}

/*Styling email sign-up*/ 
.input-box input{
	width: 100%;
	padding: 4% 0;
	padding-left: 4%;
	margin: 3% 0;
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
}
.input-box input[type="submit"] {
	font-size: 1rem;
	font-weight: 500;
	width: 100%;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-top: 1%;
	padding: 3%;
	background-color: rgb(48, 148, 153);;
}

/*.product-container {
	/* max-width: 1080px;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%; */
	/*
	flex-wrap: wrap;
	justify-content: space-around;
}*/
/*Styling basic 4-column elements*/

/*.col-1-of-4:hover, .col-1-of-4:focus {
	transform: translateY(-0.5rem);
	opacity: 0.8;
	cursor: pointer;
	box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(48, 148, 153, 0.04);
	/*	border: 0.4px solid rgba(0, 0, 0, 0.05);
	border-radius: 1rem;
	padding-bottom: 2rem;*/
/*	background-color: rgba(48, 148, 153, 0.04);*/
/*}*/


/*Styling product listing*/
.product-listing {
/*	padding: 0.8rem;
	padding-bottom: 5%;*/
	padding: 3%;
	padding-bottom: 5%;
	/*margin-bottom: 3rem;*/
	transition: 0.3s;
}
.product-listing:hover, .product-listing:focus {
	transform: translateY(-0.5rem);
	opacity: 0.8;
	cursor: pointer;
	box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(48, 148, 153, 0.04);
}



.content-title {
	font-size: 1.7rem;
	text-align: center;
	margin: 0 auto 2rem;
	position: relative;
	line-height: 5rem;
	color: #535353;
}
/* --- fix for title on subsequent pages ---*/
.page-title {
	padding-top: 5%;
	/*margin-top: 5%;*/
}

.content-title::after {
	content:'';
	background: #309499;
	width: 5rem;
	height: 0.2rem;
	border-radius: 0.3rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

/*fix for weird product listing images not lining up properly*/
.product-name {
	height: 3rem;
}
/*Styling for star rating*/
.rating {
	padding-top: 0.5rem;
}
.rating .fa {
	color: #309499;
	padding-right: 4%;
}


/*Testimonials styling
	-> col-1-of-3*/
/*.testimonial {
	padding-top: 0.5%;
	padding-right: 5%;
	padding-left: 5%;
}*/
p.testimonial-copy {
	padding: 0% 3% 3%;
	font-size: 1.1rem;
	line-height: 1.6rem;
}
p.testimonial-name {
	padding-left: 8%;
	padding-top: 2%;
	color: rgba(48, 148, 153, 0.5);
	font-size: 1.1rem;
	/*font-style: italic;*/
}
/* quotation marks styling */
.fa-quote-left {
	/*color: #309499;*/
	color: rgba(48, 148, 153, 0.6);
}


/*Styling brand logos at bottom of page*/
/*.brands {
	margin: 5%;
}*/
.col-1-of-6 {
	flex-basis: 16.6%;
}
.col-1-of-6 img{
	max-width: 65%;
	filter: grayscale(100%);
	opacity: 70%;
}
.col-1-of-6 img:hover, .col-1-of-5 img:focus{
	filter: grayscale(0);
	opacity: 100%;
	cursor: pointer;
}















