

/*------------ BASIC REPONSIVENESS OF SITE -------------*/
@media screen and (min-width: 800px) {
	/* navbar*/
	.grid-main-nav {
		flex-basis: 25%;
	}
}

/*styling changes for <1060px in screen width*/
@media screen and (max-width: 1060px) {
	h1 {
		font-size: 2rem;
		line-height: 2.3rem;
		max-width: 10em;
		padding-top: 20%;
	}
	#home-subtitle {
		font-size: 1rem;
	}
	.nav-links li {
		font-size: 1.1rem;
	}

	.col-1-of-4 h3 {
		font-size: 1rem;
	}

	/*Contact page*/
	.contact {
		padding: 5%;
	}
	.container-contact {
		flex-direction: column;
	}
	.contact-info {
		padding-left: 5%;
	}
	.contact-info, .contact-form {
		width: 100%;
	}
/*	.input-box input[type="submit"] {
		font-size: 1.4rem;
	}*/
	#mission-statement {
		font-size: 1.8rem;
	}

}
@media screen and (max-width: 800px) {
/*	.about-content {
		flex-basis: 100%;
	}*/
	#about-text {
		flex: 1;
		order: 2;
	}
/*	#about-image {
		flex: 1;
		order: 1;
	}*/
	#mission-statement {
		font-size: 1.5rem;
	}
	.about-information {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 750px) {
	h1 {
		font-size: 1.5rem;
		line-height: 1.9rem;
		max-width: 10em;
		padding-top: 15%;
	}
	.col-1-of-4 {
		flex-basis: 50%;
		padding-bottom: 5%;
		margin-bottom: 3%;
/*		padding-left: 5%;
		padding-right: 5%;*/
	}
	.col-1-of-4 img{
		max-width: 85%;
	}
	.footer-col-1-of-4 {
		flex-basis: 50%;
	}
	/*Adding space around product listing*/

/*	.col-1-of-4:last-child {
		margin-bottom: 3rem;
	}*/

	.col-1-of-5 {
		flex-basis: 25%;
	}

	.col-1-of-3 {
		flex-basis: 100%;
	}

	.col-1-of-2 {
		flex-basis: 100%;
	}
	.about-content {
		flex-direction: column-reverse;
	}
	img#about-img {
		max-width: 100%;
		padding-left: 20%;
		margin-left: auto;
		margin-right: auto;
	}
/*	.col-1-of-2 img{
		order: 1;
		diplay: flex;
	}
	.col-1-of-2 .product-name{
		display: flex;
		order: 2;
	}*/

/*	.product-listing {
		padding-bottom: 5%;
		margin-bottom: 5%;
	}*/
	.checkout-content h3 {
		font-size: 1rem;
		font-weight: 400;
	}

}

@media screen and (max-width: 450px) {
	.col-1-of-2 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.col-1-of-4 {
		flex-basis: 100%;
		padding-bottom: 5%;
		margin-bottom: 8%;
		align-items: center;
		justify-content: center;
	}
	.col-1-of-4 img{
		max-width: 70%;
	}
	.product-listing img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-col-1-of-4 {
		padding-bottom: 5%;
		margin-bottom: 3%;
		flex-basis: 100%;
		/*justify-content: center;*/
	}
	/*Footer image:*/
	img.footer-logo {
		max-width: 40%;
	}

	/*Changing flex-basis for sponsor images*/
	.col-1-of-6 {
		flex-basis: 20%;
	}

	#mission-statement {
		font-size: 1.2rem;
	}
	.about-information {
		font-size: 0.9rem;
	}
	h3.subtitle {
		padding-top: 8%;
	}
	.barcandy-logo img {
		max-width: 30%;
	}

}



/*---------- MAIN NSVGIATION BAR AND ANIMATION -----------*/
/*Screen width smaller than set pixel value*/
@media screen and (max-width: 800px) {

	body {
		overflow-x: hidden;
	}
	.header-logo {
		max-width: 50%;
	}
	.barcandy-logo img {
		max-width: 20%;
	}
	.nav-links {
		/*display: flex;*/
		position: absolute;
		right: 0;
		top: 15%;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		transform: translateX(100%);
		transition-duration: 0.3s;
		/*align-items: center;*/
		/*width: 50%;*/
		/*border-bottom: 1px solid  #309499;*/
	}
	.grid-main-nav {
		/*height: 20%;*/
		flex-basis: 15%;
		padding: 0;
		margin: 0;
	}

	.nav-links li {
		opacity: 0;
	}
	.nav-links a {
		padding-bottom: 5%;
		border-bottom: 1px solid  #309499;
	}
/*	.nav-links a:last-child {
		border: none;
	}*/


	.menu-container {
		display: block;
		padding-top: 5%;
	}


}

/*Making nav menu appear on smaller screen sizes
	from: https://www.youtube.com/watch?v=gXkqy0b4M5g*/
.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
		/*transition-duration: 0.5s*/
	}
	to{
		opacity: 1;
		transform: translateX(0px);
		/*transition-duration: 0.5s*/
	}
}










