@media screen and (min-width: 40em) {
	.grid-main-nav {
		flex-basis: 20%;
	}
}

/*Screen width smaller than set pixel value*/
@media screen and (max-width: 800px) {
	/*.header-nav-container */
/*	.header-links{
		position: absolute;
		top: 10%;
		left: 0;
		background: #333;
		width: 100%;
	}*/
/*	nav.main-header {
		height: 80%;
	}*/

	body {
		overflow-x: hidden;
	}
	.header-logo {
		max-width: 50%;
		/*left: 0;*/
		/*flex: 0.5;*/
	}
	.nav-links {
		/*display: flex;*/
		position: absolute;
		right: 0;
		top: 15%;
		height: 90vh;
		width: 40%;
		flex-direction: column;
		transform: translateX(100%);
		/*align-items: center;*/
		/*width: 50%;*/
	}
	.grid-main-nav {
		/*height: 20%;*/
		flex-basis: 15%;
		padding: 0;
		margin: 0;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		padding-top: 5%;
	}


}

/*Making nav menu appear on smaller screen sizes
	from: https://www.youtube.com/watch?v=gXkqy0b4M5g*/
.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}










